.quiz-name-container {
  position: relative;
  height: 4.5vw;
  width: 16vw;
  z-index: 1;
  margin: 5vw;
}

.quiz-name {
  z-index: 2;
}

.quiz-name:hover{
  cursor: default;
}

.quiz-name,
.quiz-name-2 {
  background-color: #332fd0;
  width: 16vw;
  height: 4.5vw;
  border-radius: 2.5vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5vw;
}

.quiz-name-2 {
  background-color: #fb2576;
  visibility: hidden;
  position: absolute;
  top: 0;
}

.quiz-name-2:hover{
  cursor: pointer;
}

.multiple-choice-1 {
  z-index: -1;
}

.multiple-choice-2 {
  z-index: -2;
}

.quiz-name-container:hover > .multiple-choice-1 {
  top: 5vw;
  transition: top 0.6s;
  visibility: visible;
}

.quiz-name-container:hover > .multiple-choice-2 {
  top: 10vw;
  transition: top 0.6s;
  visibility: visible;
}

.quiz-name-container:not(:hover) > .quiz-name-2 {
  top: 0;
  transition: 0.8s;
}

@media screen and (max-width: 600px) {
  .quiz-name-container {
    width: 30vw;
    height: 8vw;
  }

  .quiz-name,
  .quiz-name-2 {
    height: 8vw;
    width: 30vw;
    border-radius: 4vw;
  }

  .quiz-name-container:hover > .multiple-choice-1 {
    top: 9vw;
  }

  .quiz-name-container:hover > .multiple-choice-2 {
    top: 18vw;
  }
}
