@media screen and (max-width: 2000px) {
  .registration {
    font-size: 2vw;
    width: 40vw;
    height: 33vw;
    background-color: #0002a1;
    padding: 2vw;
    border-radius: 4vw;
    margin-top: -8vw;
  }

  .reg-head-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
  }

  .reg-head {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    color: #0002a1;
    height: 3.5vw;
    width: 20vw;
    font-weight: bold;
    margin-bottom: 1.5vw;
    border-radius: 2.5vw;
  }

  .reg-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5vw;
  }

  .reg-title {
    display: flex;
    width: 100%;
    margin-right: 5%;
    justify-content: end;
  }

  .reg-item input {
    height: 2vw;
    width: 20vw;
    border-radius: 2vw;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 2.1vw;
    font-size: 1.5vw;
  }

  .reg-btn,
  .reg-btn div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reg-btn {
    width: 100%;
    margin-top: 1.5vw;
  }

  .reg-btn div {
    background-color: #332fd0;
    width: 16vw;
    height: 4vw;
    border-radius: 2.5vw;
    font-weight: bold;
  }

  .reg-btn div:hover {
    cursor: pointer;
    background-color: #fb2576;
  }

  .redirect-to-login {
    display: flex;
    justify-content: center;
    margin-top: 3.25vw;
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 960px) {
  .registration {
    font-size: 1.9vw;
    width: 40vw;
    height: 33.5vw;
  }

  .redirect-to-login {
    margin-top: 4vw;
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 750px) {
  .registration {
    height: 34vw;
  }

  .redirect-to-login {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 600px) {
  .registration {
    height: 35vw;
  }

  .redirect-to-login {
    font-size: 2vw;
  }
}

@media screen and (max-width: 500px) {
  .registration {
    height: 36vw;
  }

  .redirect-to-login {
    font-size: 2.1vw;
  }
}

@media screen and (max-width: 400px) {
  .registration {
    height: 37vw;
  }
}
